[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "particle.swarm.optimisation"]
	path = particle.swarm.optimisation
	url = https://github.com/cran/particle.swarm.optimisation
